body {
    font-family: 'Moulpali', cursive;
    text-align: center;
    background-color: #81B29A;
}

#content {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
}

#logo {
    margin-top: 40px;
}

#home-header {
    margin-top: 0px;
}

h1{
    margin-top: 80px;
}

section{
    text-align: left;
    padding-bottom: 20px;
    margin: 20px;
    background-color: #F4F1DE;
    border-radius: 3px;
    border: 2px solid #333;
    box-shadow: 2px 2px 0 #333;
}

section h2{
    text-align: center;
    margin: 0px;
    background-color: #F2CC8F;
}

section p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

ol {
    list-style-position: inside;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

form {
    display: flex;
    justify-content: center;
}

.action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    background-color: #E07A5F;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Moulpali", cursive;
    border: 2px solid #333;
    box-shadow: 2px 2px 0 #333;
    margin-bottom: 5px;
    color: #F4F1DE;
}

.action-button:hover{
    background-color: #c2bfa4;
    border: 2px solid #cccccc;
    box-shadow: 2px 2px 0 #cccccc;
    cursor: pointer;
    filter: invert(100%);
}

#apple-music-logo-home{
    width: 25px;
    height: 25px;
    margin: 8px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.playlist-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Moulpali", cursive;
    line-height: 18px;
    margin: 10px;
    padding: 10px;
    width: 130px;
    height: 170px;
    background-color: #F4F1DE;
    border-radius: 3px;
    border: 2px solid #333;
    box-shadow: 2px 2px 0 #333;
    color: black;
}

.playlist:hover{
    background-color: #E07A5F;
    cursor: pointer;
}

.playlist-image-container{
    position: relative;
    display: inline-block
}

.playlist-image{
    display: block;
}

a{
    color: #3D405B;
}

footer{
    padding: 10px;
    margin-top: 20px;
}