<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>AI Playlist Name Generator</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moulpali&display=swap" rel="stylesheet">

    <!-- mobile responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>© <a href="https://theobaur.co.uk/">Theodor Baur</a> 2023. All rights reserved</p>
    </footer>
</body>
</html>