<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>AI Playlist Name Generator</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moulpali&display=swap" rel="stylesheet">

    <!-- mobile responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- musickit on the web -->
    <meta name="apple-music-developer-token" content="{{ access_token }}">
    <meta name="apple-music-app-name" content="AI Playlist Name Generator" />
    <meta name="apple-music-app-build" content="1.0" />

    <!-- favicon -->
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" sizes="16x16 32x32">
    <link rel="icon" href="/static/img/favicon-16x16.png" type="image/png" sizes="16x16"/>
    <link rel="icon" href="/static/img/favicon-32x32.png" type="image/png" sizes="32x32"/>
</head>

<body>
    <script src="https://js-cdn.music.apple.com/musickit/v3/musickit.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.5/mobile-detect.min.js"></script>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>© <a href="https://theobaur.co.uk/">Theodor Baur</a> 2023. All rights reserved</p>
    </footer>
</body>
</html>