<!DOCTYPE html>
<html>
<head>
    <title>playlist-name-generator</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moulpali&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>© <a href="https://theobaur.co.uk/">Theodor Baur</a> 2023. All rights reserved</p>
    </footer>
</body>
</html>