{% extends "base.html" %}
{% block content %}

{% if playlists %}
<h1>- Pick a playlist -</h1>
<div class="playlist-container">
{% for playlist in playlists %}
    <button class="playlist" onclick="window.location.href = '/playlist/{{ playlist.id }}';">
        <img src="{{ playlist.images[0].url }}" alt="{{ playlist.name }}" height="100px" width="100px">
        <br>
        <p>{{ playlist.name }}</p>
    </button>
{% endfor %}
</div>
{% else %}
    <p>No playlists found</p>
{% endif %}

{% endblock %}